<div class="container">
    <form (submit)="submit()">
        <img src="assets/img/logo.png" alt="">
        <div class="input-basic">
            <input required placeholder="Digite aqui a sua nova senha" type="password" name="password" [(ngModel)]="password">
            <p>Nova senha:</p>
        </div>
        <div class="input-basic">
            <input required placeholder="Repita a sua nova senha" type="password" name="password2" [(ngModel)]="password2">
            <p>Repita a senha:</p>
        </div>
        <button class="button-basic" type="submit">Redefinir</button>
        <div class="options">
            <a href="https://instarank.prsacademy.com.br/#planos">
                <p>Registrar-se</p>
            </a>
            <hr>
            <a routerLink="/conectar">
                <p>Cancelar</p>
            </a>
        </div>
    </form>
</div>