header {
    background: #0D0D0D;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header img {
    height: 60px;
    width: 60px;
    object-fit: cover;
}

header button {
    margin-right: 15px;
    width: 80px;
    height: 30px;
    background: #F22E62;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.container {
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.text {
    width: 600px;
}

h1 {
    margin: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
    color: #000000;
}

p {
    margin: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    color: #000000;
}

form {
    width: 600px;
}

input {
    margin-top: 16px;
}

button {
    margin-top: 16px;
}

footer {
    position: absolute;
    width: 100%;
    height: 47px;
    left: 0px;
    bottom: 0px;
    background: #F2F2F2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    color: #777777;
}

a {
    color: #777777;
}

@media screen and (max-device-width: 900px) {
    .text {
        width: 80%;
    }

    form {
        width: 80%;
    }
}