<header>
    <a routerLink="/">
        <img src="assets/img/logo.png" alt="instarank logo">
    </a>
</header>

<div class="container">
    <div class="text">
        <h1>Faça login no instarank</h1>
        <p>Já tem uma conta no instarank? O que acha de se conectar a essa sua conta e ter o acesso completo a essa ferramenta?</p>
    </div>
    <form (submit)="submit()">
        <input type="email" class="main-input-new" [(ngModel)]="user.email" name="email" placeholder="Digite o seu e-mail">
        <input type="password" class="main-input-new" [(ngModel)]="user.password" name="password" placeholder="Digite o sua senha">
        <button type="submit" class="main-button-new">Conectar-se</button>
    </form>
</div>

<footer>
    <a routerLink="/password/forgot">
        Redefinir senha
    </a>
    <p style="margin-left: 10px; margin-right: 10px;">|</p>
    <a href="#planos">
        Registrar-se
    </a>
</footer>