<div class="container">
    <form (submit)="submit()">
        <img src="assets/img/logo.png" alt="">
        <div class="input-basic">
            <input required placeholder="Digite aqui o  seu email" type="email" name="email" [(ngModel)]="email">
            <p>E-mail</p>
        </div>
        <button class="button-basic" type="submit">Redefinir</button>
        <div class="options">
            <a href="https://instarank.prsacademy.com.br/#planos">
                <p>Registrar-se</p>
            </a>
            <hr>
            <a routerLink="/conectar">
                <p>Cancelar</p>
            </a>
        </div>
    </form>
</div>