<header>
    <a routerLink="/">
        <img src="assets/img/logo.png" alt="instarank logo">
    </a>
</header>

<div class="container">
    <div class="text">
        <h1>Esqueci a senha</h1>
        <p>Caso você tenha esquecido sua senha do instarank, insira o seu e-mail no campo abaixo para redefinir sua senha.</p>
    </div>
    <form (submit)="submit()">
        <input type="email" class="main-input-new" [(ngModel)]="email" name="email" placeholder="Digite o seu e-mail">
        <button type="submit" class="main-button-new">Continuar</button>
    </form>
</div>

<footer>
    <a routerLink="/conectar">
        Lembrei da senha
    </a>
    <p style="margin-left: 10px; margin-right: 10px;">|</p>
    <a href="#planos">
        Registrar-se
    </a>
</footer>