<header>
    <a routerLink="/">
        <img src="assets/img/logo.png" alt="instarank logo">
    </a>
    <a routerLink="/conectar">
        <button>Entrar</button>
    </a>
</header>
<section id="one">
    <div class="section-1">
        <div class="text">
            <h1>Descubra qual a publicação mais engajada do seu concorrente.</h1>
            <p>Esta ferramenta ordena os posts de uma conta do Instagram em ordem de curtidas ou comentários para
                analisar quais publicações estão tendo maior engajamento dos usuários.</p>
        </div>
        <img src="assets/img/pc.png" alt="instarank interface">
    </div>
    <form (submit)="submit()">
        <input [(ngModel)]="email" name="email" type="email" required placeholder="Digite o seu e-mail" class="main-input-new">
        <button type="submit" class="main-button-new">Começar GRATUITAMENTE</button>
    </form>
</section>

<section id="two">
    <div class="info">
        <div class="box">
            <img src="assets/img/safe.png" alt="">
            <div class="text">
                <div class="title">100% SEGURO</div>
                <p>Não pedimos login ou senha</p>
            </div>
        </div>
        <div class="box">
            <img src="assets/img/heart.png" alt="">
            <div class="text">
                <div class="title">MAIS ENGAJAMENTO</div>
                <p>Encontre conteúdos validados</p>
            </div>
        </div>
        <div class="box">
            <img src="assets/img/cell.png" alt="">
            <div class="text">
                <div class="title">RESPONSIVO</div>
                <p>Funciona no celular, pc e tablet.</p>
            </div>
        </div>
    </div>
</section>
<section id="three">
    <div class="container">
        <div class="box">
            <div class="user">
                <img src="assets/img/user-001.jpeg" alt="">
                <div class="user-datas">
                    <p class="name">Mateus</p>
                    <p class="username">@copyprado</p>
                </div>
            </div>
            <hr>
            <p class="depo">Antes eu demorava 2 horas para criar um conteúdo bom, hoje em menos de <b>15 minutos</b> eu
                crio conteúdos validados com <b>muito mais engajamento</b>.</p>
        </div>
        <div class="box">
            <div class="user">
                <img src="assets/img/user-002.jpeg" alt="">
                <div class="user-datas">
                    <p class="name">Giovanna</p>
                    <p class="username">@studiogs_</p>
                </div>
            </div>
            <hr>
            <p class="depo">Sempre tive problema com criatividade, com o InstaRank esse bloqueio sumiu, consigo
                encontrar inspiração muito mais fácil.</p>
        </div>
        <div class="box">
            <div class="user">
                <img src="assets/img/user-003.jpeg" alt="">
                <div class="user-datas">
                    <p class="name">Alvaro</p>
                    <p class="username">@alvaroprs</p>
                </div>
            </div>
            <hr>
            <p class="depo">Depois que comecei a usar o InstaRank meu engajamento ficou <b>12x mais alto</b>, a cada 10
                publicações <b>8 viralizam</b>.</p>
        </div>
    </div>
</section>
<section id="planos">
    <div class="box">
        <div class="header active">
            <h1>Plano Anual</h1>
            <p>Economize <s>R$139,80</s> e ganhe 2 bônus</p>
        </div>
        <div class="body">
            <p class="preco">R$9,90/mês</p>
            <div class="bonus">
                <div class="item">
                    <img src="assets/img/ok.png" alt="ok">
                    <p>Acesso a todas as publicações.</p>
                </div>
                <hr>
                <div class="item">
                    <img src="assets/img/ok.png" alt="ok">
                    <p>Guia para alcançar 10k seguidores.</p>
                </div>
                <hr>
                <div class="item">
                    <img src="assets/img/ok.png" alt="ok">
                    <p>Comunidade de networking e dicas.</p>
                </div>
            </div>
        </div>
        <a href="https://sun.eduzz.com/861594">
            <button class="main-button-new">Experimente agora</button>
        </a>
    </div>
    <div class="box">
        <div class="header">
            <h1>Plano Semestral</h1>
            <p>Economize <s>R$59,40</s> e ganhe 1 bônus</p>
        </div>
        <div class="body">
            <p class="preco">R$11,05/mês</p>
            <div class="bonus">
                <div class="item">
                    <img src="assets/img/ok.png" alt="ok">
                    <p>Acesso a todas as publicações.</p>
                </div>
                <hr>
                <div class="item">
                    <img src="assets/img/ok.png" alt="ok">
                    <p>Guia para alcançar 10k seguidores.</p>
                </div>
                <hr>
                <div class="item">
                    <img src="assets/img/no.png" alt="ok">
                    <p>Comunidade de networking e dicas.</p>
                </div>
            </div>
        </div>
        <a href="https://sun.eduzz.com/861583">
            <button class="main-button-new">Experimente agora</button>
        </a>
    </div>
    <div class="box">
        <div class="header">
            <h1>Plano Mensal</h1>
        </div>
        <div class="body">
            <p class="preco">R$19,90/mês</p>
            <div class="bonus">
                <div class="item">
                    <img src="assets/img/ok.png" alt="ok">
                    <p>Acesso a todas as publicações.</p>
                </div>
                <hr>
                <div class="item">
                    <img src="assets/img/no.png" alt="ok">
                    <p>Guia para alcançar 10k seguidores.</p>
                </div>
                <hr>
                <div class="item">
                    <img src="assets/img/no.png" alt="ok">
                    <p>Comunidade de networking e dicas.</p>
                </div>
            </div>
        </div>
        <a href="https://sun.eduzz.com/861578">
            <button class="main-button-new">Experimente agora</button>
        </a>
    </div>
</section>
<footer>
    <p>suporte@instarank.com.br</p>
    <p>CNPJ: 38.369.176/0001-98</p>
    <p><a href="https://prsacademy.com.br/politica-de-privacidade/" target="_blank" rel="noopener noreferrer">Termos de
            uso | Política de privacidade</a> – Todos os direitos reservados</p>
</footer>