<div class="container">
    <section>
        <div class="box">
            <h1>Variação 1</h1>
            <p>faça a assinatura mensal e tenha acesso total a ferramenta</p>
            <span>R$12,90 - mês</span>
            <a href="https://sun.eduzz.com/862002">
                <button class="button-basic">Selecionar</button>
            </a>
        </div>
        <div class="box">
            <h1>Variação 2</h1>
            <p>faça uma assinatura de 6 messes e tenha 30% de desconto no acesso total a ferramenta</p>
            <span>R$54,00 - 6 meses</span>
            <a href="">
                <button class="button-basic">Selecionar</button>
            </a>
        </div>
        <div class="box">
            <h1>Variação 3</h1>
            <p>faça uma assinatura de 6 messes e tenha um super desconto no acesso total a ferramenta</p>
            <span>R$118,00 - 12 meses</span>
            <a href="">
                <button class="button-basic">Selecionar</button>
            </a>
        </div>
    </section>
</div>