.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    width: 1fr;
}

.container .logo {
    width: 100px;
    margin-top: 50px;
}

.container .title {
    margin-top: 50px;
    font-size: var(--e-global-typography-73cdbfe-font-size);
    line-height: 3.5rem;
}


.container .description {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: var(--e-global-typography-primary-font-weight);
}

.load {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:  0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}

.load .circle {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 2px solid #FFF;
    border-left-color: var(--e-global-color-primary);
    animation: loadKey 1s linear infinite;
}

#percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes loadKey {
    to { transform: rotate(360deg); }
}

label {
    color: #FFF;
    position: fixed;
    bottom: 10px;
    left: 10px;
}