.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    text-align: center;
    width: 100%;
}

.load {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:  0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}

/* .load div {
    width: 80%;
} */

/* .load label {
    margin: 20px; 
    font-size: 1rem;  
    font-family: var(--e-global-typography-primary-font-family);
    font-weight: var(--e-global-typography-secondary-font-weight);
} */

/* .load #progress {
    margin-top: 10px;
    appearance: none;
    height: 30px;
    width: 100%;
    box-shadow: none;
    outline: none;
    border-radius: 1rem;
}

.load #progress[value]::-webkit-progress-bar {
    background: #FFF;
    border-radius: 1rem;
}

.load #progress[value]::-webkit-progress-value {
    background: var(--e-global-color-primary);
    border-radius: 1rem;
} */

.load .circle {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 2px solid #FFF;
    border-left-color: var(--e-global-color-primary);
    animation: loadKey 1s linear infinite;
}

#percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes loadKey {
    to { transform: rotate(360deg); }
}

/* ::-moz-progress-bar */

/*
.load #progress[value]::-moz-progress-bar {
    appearance: none;
    background: #FFF;
} */

/* .load #progress:not([value])::-webkit-progress-bar {
    appearance: none;
    background: red;
} */


.container .more {
    height: 20px;
    min-width: 200px;
    margin-bottom: 10px;
}

.plans {
    position: fixed;
    top: 10px;
    left: 10px;
    color: #fff;
    background: var(--e-global-color-primary);
    padding: 10px;
    border-radius: 1rem;
    font-family: var(--e-global-typography-primary-font-family);
    font-weight: var(--e-global-typography-primary-font-weight);
}

.container section .box>a:link {
    color: #FFF;
    text-decoration:none;
  }
  .container section .box>a:visited {
    color: #FFF;
    text-decoration:none;
  }
  .container section .box>a:hover {
    color: #FFF;
    text-decoration: none;
  }
  .container section .box>a:active {
    color: #FFF;
    text-decoration: none;
  }

.container header {
    width: 80%;
    border: 1px #DDD solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #FFF;
}

.container header form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

.order-datas {
    margin-top: 20px;
    width: 80%;
    border: 1px #DDD solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #FFF;
}

.button-basic {
    margin-top: 10px;
}

.container header .logo {
    height: 70px;
    margin-bottom: 20px;
    border-radius: 100%;
}
/* 
.container .select {
    margin: 20px;
    width: 80%;
    border: 1px var(--e-global-color-secondary) solid;
    outline: none;
    height: 50px;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background: #FFF;
    position: relative;
}

.container .select select {
    border: none;
    outline: none;
    width: 95%;
    height: 40px;
    margin: 0px;
} */

.container .select p {
    background: #FFF;
    padding: 5px;
    position: absolute;
    top: -30%;
    font-weight: 300;
    left:  10px;
}

/* .container select {
    width: 80%;
    border: 1px var(--e-global-color-text) solid;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
} */

.container section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    outline: none;
    margin-top: 30px;
    margin-bottom: 30px;
}


.container section .box {
    /* width: 33%; */
    /* height: 30%; */
    /* max-width: 293px; */
    /* height: 90%;  */
    background: #FFF;
    color: #333;
    /* border-radius: 10px; */
    border: 1px #DDD solid;
}

.container section .box:hover {
    color: #EEE;
    background: linear-gradient(95.92deg, #3f729b -21.93%, var(--e-global-color-primary) 112.22%), #AAAAAA;
}

.container section .box img {
    width: 100%;
    height: calc(100% - 2rem);
    object-fit: cover;
    /* border-radius: 10px 10px 0px 0px; */
}

.container section .box .data {
    width: 100%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-around;
    align-items: center;
}

.container section .box .data .item {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
}

.container section .box .data .item .icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 10px;
    border-radius: 0px;
}

.container section .box .date {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left:  10px;
    font-weight: 600;
}

.container section .box .data p {
    margin-left: 2px;
}

.input-basic {
    margin-top: 20px;
}