.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    text-align: center;
}

.plans {
    position: fixed;
    top: 10px;
    left: 10px;
    color: #111;
    background: #EEE;
    padding: 10px;
}

a:link {
    color:#333;
    text-decoration:none;
  }
  a:visited {
    color:#333;
    text-decoration:none;
  }
  a:hover {
    color:#333;
    text-decoration: none;
  }
  a:active {
    color:#333;
    text-decoration: none;
  }

.container header {
    width: 80%;
    border: 1px var(--e-global-color-text) solid;
    display: flex;
    flex-direction: row;
    min-height: 50px;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
}

.container header .user {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

.button-basic {
    margin: 10px;
}

.container header .logo {
    height: 70px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 100%;
}

.container header .user .description {
    margin-left: 10px;
}

.container .select {
    margin: 20px;
    width: 80%;
    border: 1px var(--e-global-color-secondary) solid;
    outline: none;
    height: 50px;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background: #FFF;
    position: relative;
}

.container .select select {
    border: none;
    outline: none;
    width: 95%;
    height: 40px;
    margin: 0px;
}

.container .select p {
    background: #FFF;
    padding: 5px;
    position: absolute;
    top: -30%;
    font-weight: 300;
    left:  10px;
}

.container select {
    width: 80%;
    border: 1px var(--e-global-color-text) solid;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
}

.container section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
    outline: none;
}


.container section .box {
    width: 250px;
    height: 300px;
    background: #FFF;
    margin: 25px;
    border-radius: 10px;
    border: 1px var(--e-global-color-text) solid;
    justify-content: flex-start;
}

.container section .box:hover {
    background: #EEE;
}

.container section .box img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.container section .box .data {
    width: 100%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: flex-start;
    align-items: center;
}

.container section .box .data .icon{
    width: 1.5rem;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 0px;
}

.container section .box .date {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left:  10px;
    color: var(--e-global-color-text);
    font-weight: 600;
}

.container section .box .data p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}